
<div ng-controller="OrgsCtrl" style="height: 100vh">
    <ons-navigator title="Organizations">
        <ons-list>
            <ons-list-item class="topcoat-list__item__line-height listview-link" ng-repeat="thing in list" ng-controller="ListCtrl" ng-click="clicker('list')">
                <a ui-sref="home">{{thing}}</a>
            </ons-list-item>
        </ons-list>
    </ons-navigator>
</div>
<!--
<div ng-controller="OrgsCtrl">
    <h1>Organizations</h1>
    <div class="topcoat-list">
        <ul class="topcoat-list__container">
            <li class="topcoat-list__item" ng-repeat="thing in list">
                <span class="topcoat-list__item__line-height">{{thing}}</span>
            </li>
        </ul>
    </div>
</div>
!-->
