body,html {
    height: 100%;
}
.listview-link a {
    text-decoration: none;
    color: inherit;
}

.listview-link:after {
    border-width: 0;
    height: 0.64rem;
    width: 0.66rem;
    border-color: #777777;
    margin-top: -0.32rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    border-style: solid;
    border-width: 0.24rem 0.24rem 0 0;
    transform: rotate(45deg);
    content: " ";
    display: inline-block;
    height: 0.5rem;
    margin-left: -0.2rem;
    vertical-align: middle;
    width: 0.5rem;
}

.listview-link:hover {
    cursor: pointer;
    background: lightgray;
    opacity: 1;
    transition: background 300ms ease-in 50ms;
}

.ui-view-container {
    position: relative;
}

[ui-view].ng-enter {
       position: absolute;
       left: 0;
       right: 0;
       animation: fadeInRight .6s;
   }
[ui-view].ng-leave {
      position: absolute;
      left: 0;
      right: 0;
      animation: fadeOutLeft .2s;
}
